::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

html {
    padding: 30px 10px;
    font-size: 16px;
    line-height: 1.4;
    color: #737373;
    background: #f0f0f0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    max-width: 700px;
    _width: 700px;
    padding: 30px 20px 50px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #ffffff;
}

h1 {
    margin: 0 10px;
    font-size: 50px;
    text-align: center;
}

h1 span {
    color: #bbb;
}

h2 {
    color: #11d6af;
    margin: 0 10px;
    font-size: 40px;
    text-align: center;
}

h2 span {
    color: #bbb;
    font-size: 80px;
}

h3 {
    margin: 1.5em 0 0.5em;
}

p {
    margin: 1em 0;
}

ul {
    padding: 0 0 0 40px;
    margin: 1em 0;
}

.container {
    max-width: 380px;
    _width: 480px;
    margin: 0 auto;
}

input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.btn {
    font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    font-weight: 500;
    border-radius: 5rem;
}

.btn-xl {
    font-size: 18px;
    padding: 10px 30px;
}

.btn-primary {
    background-color: #11d6af66;
    border-color: #11d6af;
}

.btn-secondary {
    background-color: #11d6afb3;
    border-color: #11d6af;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #00B38F !important;
    border-color: #00B38F !important;
    color: white;
}

.btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(12, 155, 127, 0.5) !important;
}

.btn-btn-secondary:active, .btn-btn-secondary:focus, .btn-primary:hover {
    background-color: #00B38F !important;
    border-color: #00B38F !important;
    color: white;
}

.btn-btn-secondary:active, .btn-btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(12, 155, 127, 0.5) !important;
}